.mainContainer{
  margin: auto;
}
.container {
  display: flex;
 margin-top: 15px;
  
}
.card {
  margin: auto;
  width: 970px;
  height: 38px;
  flex-shrink: 0;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  background: var(--White-100, #fff);
}
.optionsContainer {
  display: flex;
  flex-direction: row;
  gap: 50px;
  align-items: center;
}
.title {
  color: var(--Dark-Blue, #036);
  font-family: "Cantata One";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  padding: 10px;
  line-height: 22px;
}
.optionsContainer ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
  font-size: 25px;
}
.optionsContainer li {
  padding: 15px;
}
.activeItem {
  color: var(--Dark-Blue, #036);
  border-bottom: 2px solid #036;
}
