.covid19AndHealthcare {
  position: relative; /* Change absolute to relative */
  width: 100%;
  top: 0;
  left: 0;
  line-height: 140%;
  font-weight: 500;
  display: flex;
  align-items: center;
  color: var(--blue-100);
}

.medical {
  text-transform: uppercase;
}

.medicalDiseasesTreatmentsContainer {
  position: relative; /* Change absolute to relative */
  top: 10px; /* Adjust according to your layout */
  left: 20px;
  line-height: 22px;
}

.searchButton {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  position: absolute;
  top: 0;
  left: 0;
  width: 36px;
  height: 36px;
}

.postsUnloggeduser {
  position: relative;
  background-color: #e2dede;  
  width: 100%;
  /* height: 1476px; / / Consider removing fixed height */
  text-align: left;
  font-size: var(--font-size-base);
  color: #ffffff;
  font-family: var(--font-fira-sans);
}

.container {
  display: flex;
  flex-direction: column; /* Adjust direction for smaller screens */
  /* margin: 0px 125px; / / Consider removing fixed margin */
  margin-top: 15px;
}

.postContainer {
  /* float: left; / / Not needed with flexbox */
  margin: auto; /* Add spacing between posts */
}
.activecontainer{
  margin: auto;
  margin-top:35px ;
}
@media (min-width: 768px) {
  .container {
    flex-direction: row; /* Revert direction for larger screens */
    margin: 0px 125px;
  }
}