.postlist {
  position: relative;
  top: 0%;
  margin: 37px 0px;
}
.card {
  position: relative;
  width: 954px;
  margin: auto;
  background-color: rgb(255, 255, 255);
  font-family: var(--font-fira-sans);
  margin-top: 15px;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}

.title {
  font-size: var(--font-size-5xl);
  padding: 5px;
  margin: 5px 0px;
  cursor: pointer;
  color:var(--dark-blue);
  font-family: var(--font-fira-sans);
}
.containerInfo{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btndelete{
  width:100px;
  height: 30px;
  background-color: #e60000;
  border: none #e60000;
  color:#ffffff;
  font-family:var(--font-fira-sans) ;
  font-size: 14px;
  border-radius: 5px;
  margin: 0px 10px;
}
.container {
  padding: 15px;
  font-family: var(--font-segoe-ui);
}
.accountInfo {
  display: flex;
  gap: 8px;
  padding: 5px;
  text-align: center;
  font-family: var(--font-cantata-one);
}
.imagePro {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-lightsteelblue);
  padding: 8.5px;
  border-radius: 50%;
  font-size: 21px;
}
.imageProfile{
  width: 40px;
  height: 40px;
}
.username {
  padding: 10px 0px;
  color: var(--blue-100);
  font-family: var(--font-cantata-one);
}
.publicDate {
  padding: 10px 0px;
  font-family: var(--font-segoe-ui);
  font-size: var(--font-size-sm);
  color: var(--main-4);
}
.postImg {
  margin: 5px;
   height: 220px; 
  width: 745px;
}
.pImg {
  width: inherit;
  height: inherit;
}
.content {
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-segoe-ui);
  color: var(--color-darkslategray-300);
  display: inline-block;
  padding: 5px;
}
.infoPost {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-end;
}
.item {
  height: 24px;
  width: 60px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-size: var(--font-size-base);
  color: var(--blue-100);
  margin: 10px 0px;
  font-family: var(--font-cantata-one);
}
.iconInfo {
  padding: 3px;
}
.comment {
  width: 100%;
}
.active {
  background-color: #5682a4;
}

.linkactive{
  background-color: var(--blue-100);
  padding: 20px;
}
.clubPost{
  width: 160px;
  margin: 10px 0px;
  text-align: center;
  padding: 5px;
  background-color: #e6f2ff;
  color: #5789b3;
  border-radius: 5px;
}