.container {
    width: 775px;
    margin: 10px 150px;;
  }
  .card {
    width: 932px;
    height: 110px;
    border-radius: 5px;
    background-color: #ffffff;
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
  }
  .clubInfo {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
  }
  .clubImg {
    width: 65px;
    height: 65px;
    padding: 5px;
    border-radius: 50%;
    background-color: #ffffff;
    align-items: center;
  }
  .clubdata {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 5px;
    color: var(--blue-100);
    font-family: var(--font-fira-sans);
    font-size: 25px;
  }
  .members {
    font-size: var(--font-size-sm);
    color: var(--main-4);
  }
  .btn {
    padding: 20px;
    align-items: center;
    display: flex;
    flex-direction: row;
  }
  .btnSub {
    margin: 20px 5px;
    width: 130px;
    height: 36px;
    border-radius: 4px;
    font-size: 18px;
    font-family: "Times New Roman", Times, serif;
    color: #ffffff;
    background-color: var(--dark-blue);
    cursor: pointer;
  }
  .icons {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: center;
    padding: 5px;
  }
  