.contaner {
  width: 100%; 
  height: 100vh; 
  display: flex;
}
.profileContainer {
  width: 920px;
  height: 226px;
  margin: auto; 
  border-radius: 4px;
  background: var(--White-100, #ffffff);
  padding: 15px;
  margin-top: 10px;
}
.profileData {
  display: flex;
  justify-content: space-between;
}
.imageContainer {
  display: flex;
  flex-direction: row;
  gap: 45px;
}
.clubImage {
  width: 80px;
  height: 80px;
  padding: 5px;
  border-radius: 50%;
  background-color: #ffffff;
  align-items: center;
  margin: 15px 0px;
}
.clubRating,
.clubFollowers {
  flex-direction: column;
  margin: 30px 0px;
}
.ratingNumber {
  display: flex;
  width: 40px;
  height: 14px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Dark-Blue, #036);
  text-align: center;
  font-family: "Fira Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 14px; 
}
.rating {
  display: flex;
  width: 41px;
  height: 14px;
  margin: 5px 0px;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  color: var(--Main-4, #808080);
  font-family: "Fira Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 14px;
}
.btn {
  padding: 20px;
  align-items: center;
}
.btnSub {
  margin: 18px 5px;
  width: 130px;
  height: 36px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: var(--dark-blue);
  cursor: pointer;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 20px;
  gap: 8px;
}
.clubName {
  color: var(--Dark-Blue, #036);
  font-family: "Fira Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  margin:-67px 0px;
}
.clubType {
  color: var(--Main-4, #521a1a);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.detailsContainer {
  display: inline-flex;
  align-items: flex-start;
  gap: 135px;
  margin-top: 40px;
  margin-left: 20px;
}
.aboutClub {
  color: var(--cccccc, #ccc);
  font-family: "Fira Sans";
  font-size: 16px;
  margin-left: -14px;
  gap: 10px;
  display: flex;
  margin-top: -20px;
  font-style: normal;
  font-weight: 400;
  line-height: 16px;
}
.aboutClub li {
  padding: 15px;
}
.aboutClub a {
  text-decoration: none;
  color: var(--cccccc, #ccc);
}
.aboutClub a:link,
.aboutClub a:active {
  padding: 20px;
}
.aboutClub a:hover {
  padding: 20px;
}
.aboutClub ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.activeItem {
  color: var(--Dark-Blue, #036);
  border-bottom: 2px solid #036;

}
