.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}
.card {
  width: 772px;
  height: 106px;
  flex-shrink: 0;
  display: flex;
  margin: 10px 0px;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  border-radius: 4px;
  padding: 8px;
  background: var(--White-100, #ffffff);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
}
.cardContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.profileContainer,.userImaeg {
  display: flex;
  width: 70px;
  height: 70px;
  padding: 5px;
  border-radius: 50%;
  background-color: var(--color-lightsteelblue);
  align-items: center;
  margin: 15px 0px;
  justify-content: space-around;
  font-size: 30px;
  color: #ffffff;
}
.userImaeg{
  padding: 0px;
}
.userName {
  color: var(--Dark-Blue, #036);
  font-family: "Fira Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  margin: 44px 0px;
  line-height: 18px;  
}
.point {
  display: flex;
  width: 36px;
  height: 24px;
  flex-shrink: 0;
  color: var(--yellow-100, #fc6);
  font-family: "Cantata One";
  font-size: 16px;
  font-style: normal;
  margin: auto;
  justify-content: center;
  justify-content: flex-start;
  font-weight: 400;
  line-height: 140%; 
  
}
.pointContainer {
  display: flex;
  flex-direction: row;
  gap: 4px;
}
.pointIcon {
  width: 24px;
  height: 24px;
  flex-shrink: 0;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--yellow-100, #fc6);
}
.btn {
  padding: 20px;
  align-items: center;
  margin: auto;
  margin: 15px 0px;
}
.btnSub {
  /* margin: 18px 5px; */
  width: 130px;
  height: 36px;
  border-radius: 4px;
  font-size: 18px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: var(--dark-blue);
  cursor: pointer;
}
