.postlist {
  position: relative;
  top: 0%;
  margin: 37px 0px;
}
.card {
  position: relative;
  width: 795px;
  background-color: rgb(255, 255, 255);
  font-family: var(--font-fira-sans);
  margin: 10px;
  border-radius: 5px;
}
.title {
  font-size: var(--font-size-5xl);
  padding: 5px;
  cursor: pointer;
}
.container {
  padding: 15px;
  font-family: var(--font-segoe-ui);
}
.accountInfo {
  display: flex;
  gap: 8px;
  padding: 5px;
  text-align: center;
  font-family: var(--font-cantata-one);
}
.imagePro {
  width: 30px;
  height: 30px;
  text-align: center;
  color: #ffffff;
  background-color: var(--color-lightsteelblue);
  padding: 8.5px;
  border-radius: 50%;
}
.username {
  padding: 10px 0px;
  color: var(--blue-100);
  font-family: var(--font-cantata-one);
}
.publicDate {
  padding: 10px 0px;
  font-family: var(--font-segoe-ui);
  font-size: var(--font-size-sm);
  color: var(--main-4);
}
.postImg {
  margin: 5px;
  height: 220px;
  width: 745px;
}
.pImg {
  width: inherit;
  height: inherit;
}
.content {
  font-size: var(--font-size-sm);
  line-height: 160%;
  font-family: var(--font-segoe-ui);
  color: var(--color-darkslategray-300);
  display: inline-block;
  padding: 5px;
}
.infoPost {
  padding: 5px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  justify-content: flex-end;
}
.item {
  height: 24px;
  width: 60px;
  display: flex;
  flex-direction: row;
  gap: 3px;
  font-size: var(--font-size-base);
  color: var(--blue-100);
  margin: 10px 0px;
  font-family: var(--font-cantata-one);
}
.iconInfo {
  padding: 3px;
}
.comment {
  width: 100%;
}
