.findASpecialist {
    position: relative;
    line-height: 16px;
    font-weight: 500;
    color: #003366;
  }
  .bannernotLoggedUser {
    position: absolute;
    top: 100px;
    left: 822px;
    width: 430px;
    height: 221px;
    text-align: center;
    font-size: var(--font-size-sm);
    background-image: url("../../../public/assets/findDoctor.jpg");
  }
  .showhideTitle {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
  }
  .showhideTitleParent {
    position: absolute;
    height: 33.48%;
    width: 69.68%;
    top: 22.62%;
    right: 25%;
    bottom: 43.89%;
    left: 5.32%;
    text-align: left;
    font-size: var(--font-size-xl);
    color: var(--base-white);
  }
  .showhideSubtitle {
    position: absolute;
    width: 80.53%;
    top: 43.24%;
    left: 0;
    font-size: var(--font-size-sm);
    line-height: 150%;
    font-family: var(--font-segoe-ui);
    color: var(--color-mintcream);
    display: inline-block;
  }
  .button {
    border-radius: var(--br-9xs);
    border: 1px solid var(--color-whitesmoke-200);
    flex-shrink: 0;
    align-items: center;
    justify-content: center;
    padding: var(--padding-3xs) var(--padding-sm);
    display: flex;
    flex-direction: row;
  }
  .button19 {
    position: absolute;
    height: 16.29%;
    width: 43.35%;
    top: 60.63%;
    right: 51.33%;
    bottom: 23.08%;
    left: 5.32%;
    border-radius: var(--br-9xs);
    background-color: var(--base-white);
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-3xs) var(--padding-11xl);
    box-sizing: border-box;
    cursor: pointer;
  }
  .rectangleParent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
  